.inputField {
  background: var(--white1);
  border: 1px solid #cdd4d8;
  border-radius: 6px;
  height: 42px;
  margin: 0 8px 0 15px;
  width: 180px;
  box-shadow: none;
}

.searchIconStyle {
  position: absolute;
  right: 20px;
  top: 12px;
}
