.button {
  background: var(--gredientColor);
  border-radius: 6px;
  width: 156px;
  height: 42px;
  border: none;
  font-weight: var(--font-semibold);
  font-size: var(--font-16);
  line-height: 23px;
  color: var(--white1);
  cursor: pointer;
  margin: 5px;
  outline: none;
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}
