@import '../../styles/mixin.scss';
.dropdownPaginationContainer {
  width: 97%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dropdownMainContainer {
    width: 70%;
    display: flex;
    .branchDropdown {
      margin-left: 35px;
    }
  }
  .reloadPaginationComponent {
    display: flex;
    // align-items: center;
    .mobileAppointmentReloadButton {
      margin-right: 20px;
    }
  }
}
