.mainContainer {
  width: 1100px;
  min-height: 381px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;

  .iconContainer {
    display: block;
    text-align: end;
  }
  .closeIconStyle {
    cursor: pointer;
  }
  .headerContainer {
    text-align: center;
    .title {
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }
    .dividerStyle {
      margin: 10px auto 30px auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }
  }

  .sectionContainer {
    margin: 44px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .inputContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  button {
    width: 107px;
    height: 42px;
    background: linear-gradient(
      91.42deg,
      #5936f1 2.81%,
      #2adbdf 103.44%,
      #4bb3e7 103.89%,
      #47dae3 103.9%
    );
    border-radius: 6px;
    border: none;
    color: white;
  }
  .uploadButtonContainer {
    width: 334px;
    text-align: end;
  }
  .buttonContainer {
    margin: 33px 0px;
    text-align: center;
  }

  .canvasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
