.mainContainer {
  width: 430px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;
  .closeIconStyle {
    cursor: pointer;
    float: right;
  }
  .uploadContainer {
    margin-top: 50px;
    .title {
      text-align: center;
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }
    .dividerStyle {
      margin: 10px auto 30px auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }
    .formContainer {
      margin: 0 20px;
      .fieldContainer {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .labelText {
          font-weight: var(--font-semibold);
          font-size: var(--font-16);
          color: var(--black2);
          width: 160px;
          margin-top: 8px;
        }
        .inputContainer {
          .inputStyle {
            background: var(--white1);
            border: 1px solid var(--grey6);
            border-radius: 6px;
            height: 40px;
            padding-left: 10px;
            width: 209px;
          }
          .selectStyle {
            width: 210px;
          }
        }
      }
    }
    .buttonStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto 20px auto !important;
    }
  }
}
