@import '../../../styles//mixin.scss';
.userGroupListMainContainer {
  @include pageWrapper(10px);
  .searchbtnContainer {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-between;
    .searchContainer {
      @include flexVertical;
      column-gap: 10px;
      margin: 15px 0px 20px 0px;
      .searchFieldContainer {
        @include flexVertical;
        column-gap: 12px;
        .searchLabel {
          @include font(var(--black2), var(--font-16), var(--font-semibold));
          width: 150px;
          text-align: right;
        }
        .searchInput {
          background: var(--white1);
          border: 1px solid var(--grey6);
          border-radius: 6px;
          height: 42px;
          width: 250px;
          @include font(var(--grey4), var(--font-16), var(--font-medium));
          padding: 0px 14px 0px 14px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
      .searchButton {
        background: var(--green1);
        padding: 10px 12px;
        cursor: pointer;
        border-radius: 20%;
        margin-right: 5px;
      }
    }
    .userGroupSearch {
      margin-left: 20px;
    }
    .createUserGroupButton {
      width: 186px;
    }
  }
  .tableContainer {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }
}
