.notesPopupContainer {
  width: 670px;
  // height: 250px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;
  .closeIconStyle {
    cursor: pointer;
    float: right;
  }
  .notesContainer {
    margin-top: 50px;
    .title {
      text-align: center;
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }
    .dividerStyle {
      margin: 10px auto 30px auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }
    .mainContainer {
      margin: 0 40px 40px 40px;
      .searchFieldContainer {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        .inputSearchContainer {
          width: 260px;
          height: 44px;
          border: none;
          margin-right: 10px;
          padding: 15px;
          border-radius: 10px;
          background: var(--white1);
          box-shadow: 0px 10px 117px 14px rgba(0, 0, 0, 0.09);
          backdrop-filter: blur(97px);
          border-radius: 10px;
        }
        .inputSmartSearchContainer {
          width: 260px;
          height: 50px;
          border: none;
          padding: 15px;
          border-radius: 10px;
          background-color: var(--grey3);
          box-shadow: 0px 10px 117px 14px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
        }
        .inputSearchButton {
          // margin: 5px 0px 0px 2px;
          height: 43px;
        }
        .searchFilter {
          margin: 0px 0px 0px 0px;
        }
      }
      .tableContainer {
        overflow-x: scroll;
        white-space: nowrap;
      }
    }
  }
}
