:root {
  --font-9: 9px;
  --font-10: 10px;
  --font-11: 11px;
  --font-13: 13px;
  --font-12: 12px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-17: 17px;
  --font-18: 18px;
  --font-20: 20px;
  --font-22: 22px;
  --font-24: 24px;
  --font-28: 28px;
  --font-25: 25px;
  --font-30: 30px;
  --font-35: 35px;
  --font-40: 40px;
  --font-50: 50px;
  --font-80: 80px;
  --font-124: 124px;
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --white1: #ffffff;
  --white2: #ffffffb3;
  --white3: #f3f3f3;
  --white4: #f2f2f2;
  --white5: #f4f4f4;
  --black1: #000000;
  --black2: #181818;
  --black3: #202a3c;
  --grey1: #f3f3f3;
  --grey2: #6d6d6e;
  --grey3: #ecf0f5;
  --grey4: #797979;
  --grey5: #a0a2b3;
  --grey6: #cdd4d8;
  --grey7: #a4aaa8;
  --grey8: #e2e8f0;
  --grey9: #f1f5f9;
  --grey10: #cbcbcb;
  --grey11: #aaaaaa;
  --grey12: #eaeaea;
  --grey13: #f7f7f7;
  --grey14: #f6f6f6;
  --grey15: #f0f0f0;
  --red1: #ff0000;
  --red2: #ff3131;
  --red3: #b11313;
  --red4: #ffd7d7;
  --red5: #f6d9d9;
  --blue1: #0e26a3;
  --blue2: #83a5b9;
  --blue3: #273fad;
  --blue4: #46dfe3;
  --blue5: #0046fb;
  --blue6: #d1e9fe;
  --errorColor: #ff2e2e;
  --green1: #02bf90;
  --green2: #1aaa74;
  --green3: #bcfaea;
  --green4: #b5ffed;
  --yellow1: #ffa009;
  --yellow2: #fdeec7;
  --yellow3: #fdeec7;
  --yellow4: #e49e00;
  --yellow5: #ffebbe;
  --purple1: #273fad;
  --purple2: #5936f1;
  --gredientColor: linear-gradient(
    91.42deg,
    #5936f1 2.81%,
    #2adbdf 103.44%,
    #4bb3e7 103.89%,
    #47dae3 103.9%
  );
}
