.globalFilterSection {
  display: flex;
  align-items: center;
  position: relative;

  .searchIconStyle {
    position: absolute;
    right: 22px;
    top: 16px;
  }

  .globalSearchInput {
    width: 285px;
    height: 50px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 117px 14px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    &:focus {
      outline: none !important;
    }
  }
}
