@import "../../../../styles/mixin.scss";

.comparativeAnalysisPopupContainer {
  width: 470px;
  background: var(--white1);
  border-radius: 10px;
  position: relative;

  .closeIconStyle {
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;
  }
  .comparativeContainer {
    display: flex;
    justify-content: space-around;
    padding: 26px 18px 46px;
    .comparativeData {
      .comparativeHeading {
        @include font(var(--black2), var(--font-12), var(--font-normal));
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
