.notesPopupContainer {
  width: 400px;
  // height: 250px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;

  .closeIconStyle {
    cursor: pointer;
    float: right;
  }

  .notesContainer {
    margin-top: 50px;

    .title {
      text-align: center;
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }

    .dividerStyle {
      margin: 10px auto 30px auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }

    .descriptionText {
      margin: 0px 0 20px 20px;
      font-weight: var(--font-normal);
      font-size: var(--font-18);
      color: var(--grey4);
      max-height: 180px;
      // overflow-y: scroll;
      overflow-x: hidden;
      text-align: left;

      &::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--grey7);
        border-radius: 10px;
        border: 1px solid var(--grey7);
      }
    }
  }
}