@import '../../../../styles/mixin.scss';

.viewDocumentsModalContainer {
  width: 450px;
  height: 350px;
  // overflow: auto;
  margin: auto;
  background: var(--white1);
  box-shadow: 0px 10px 117px 14px rgba(0, 0, 0, 0.05);
  // backdrop-filter: blur(0.5px);
  border-radius: 10px;
  padding: 0px 20px 40px 30px;
  position: relative;
  .closeIconStyle {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
  }
  .viewDocumentsModalHeading {
    @include font(var(--black2), var(--font-24), var(--font-semibold));
    text-align: center;
    margin: 35px 0px 0px 0px;
  }

  .viewDocumentsModalModalDivider {
    width: 62px;
    height: 3px;
    background: var(--green1);
    margin-bottom: 20px;
  }

  .viewDocumentsContainer {
    width: 410px;
    height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: block;
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--grey7);
      border-radius: 10px;
      border: 1px solid var(--grey7);
    }
    .viewDocumentsModalDateContainer {
      @include flexVertical;
      column-gap: 10px;
      .viewDocumentsModalDateTitle {
        @include font(var(--black2), var(--font-16), var(--font-semibold));
      }
      .viewDocumentsModalDate {
        @include font(var(--grey4), var(--font-16), var(--font-normal));
      }
    }
    .viewDocumentsTableContainer {
      margin-top: 20px;
      width: 100%;
      white-space: nowrap;
      .viewDocumentsTableColumn {
        text-align: center;
        &:last-child {
          // text-align: end;
          padding-right: 35px !important;
        }
        // &:first-child {
        //   // text-align: start;
        //   // padding-right: 25px !important;
        // }
      }
      .viewDocumentsTableColumnHead {
        text-align: center !important;
        &:last-child {
          text-align: end !important;
        }
        &:first-child {
          text-align: start !important;
        }
      }
    }
  }
}
