@import "../../../../styles/mixin.scss";

// Search Cotainer
.searchContainer {
  @include flexVertical;
  padding: 30px 0;
  .search {
    @include flexVertical;
    .searchInput {
      @include font(var(--grey4), var(--font-16), var(--font-medium));
      background: var(--white1);
      border: 1px solid var(--grey6);
      border-radius: 6px;
      height: 50px;
      width: 285px;
      padding: 0px 12px 0px 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .searchButton {
      background: var(--green1);
      padding: 17px 14px;
      cursor: pointer;
      border-radius: 20%;
      margin-left: 8px;
      height: 50px;
      svg {
        vertical-align: inherit;
      }
    }
  }
}
// Table
.tableContainer {
  margin: 20px 15px;
  max-height: 250px;
  background-color: var(--white1);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  td {
    padding: 12px 10px 12px 0;
  }
}
.addButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.addTestPopupAddToJob {
  .addToJobAddText {
    @include font(var(--blue1), var(--font-12), var(--font-normal));
    cursor: pointer;
    border: 1px solid var(--blue1);
    border-radius: 20px;
    padding: 4px 14px;
  }

  .addToJobAddGreenText {
    @include font(var(--green1), var(--font-12), var(--font-normal));
    border: 1px solid var(--green1);
    border-radius: 20px;
    padding: 4px 14px;
    cursor: pointer;
  }
}

.view_Btn {
  color: var(--blue1);
  font-size: var(--font-12);
  font-weight: var(--font-medium);
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  left: 8px;
}

