.popupContainer {
  width: 460px;
  height: 596px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;
  .closeIconStyle {
    cursor: pointer;
    float: right;
  }
  .usersContainer {
    margin-top: 50px;
    .title {
      text-align: center;
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }
    .dividerStyle {
      margin: 10px auto 0 auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }
    .subTitle {
      font-weight: var(--font-medium);
      font-size: var(--font-12);
      color: var(--black3);
      margin: 35px 0 10px 60px;
    }
    .usersList {
      height: 400px;
      overflow-y: scroll;
      padding: 0 10px 0 30px;
      margin-right: 20px;
      .userName {
        font-weight: var(--font-medium);
        font-size: var(--font-14);
        color: var(--black3);
        border-bottom: 1px solid var(--grey8);
        padding: 13px 0 13px 30px;
        &:nth-child(even) {
          background-color: var(--grey9);
        }
        &:nth-child(1) {
          border-top: 1px solid var(--grey8);
        }
      }

      /* Chrome, Edge, and Safari */
      &::-webkit-scrollbar {
        width: 4px;
        height: 100px !important;
      }

      &::-webkit-scrollbar-track {
        background: var(--grey7);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--grey7);
        border-radius: 10px;
        border: 1px solid var(--grey7);
      }
    }
  }
}
