@import "../../../styles//mixin.scss";

.branchStoreRequestItemPopupMainContainer {
  width: 80%;
  height: 520px;
  // overflow: auto;
  margin: auto;
  background: var(--white1);
  box-shadow: 0px 10px 117px 14px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
  padding: 0px 20px 40px 20px;
  position: relative;
  .closeIconStyle {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
  }
  .branchStoreRequestModalHeading {
    @include font(var(--black2), var(--font-24), var(--font-semibold));
    text-align: center;
    margin: 35px 0px 0px 0px;
  }

  .branchStoreRequestModalDivider {
    width: 62px;
    height: 3px;
    background: var(--green1);
    margin-bottom: 20px;
  }
  .branchStoreRequestContainer {
    width: 100%;
    height: 320px;
    overflow: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      display: block;
      width: 7px;
      height: 7px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--grey7);
      border-radius: 10px;
      border: 1px solid var(--grey7);
    }
    .searchContainer {
      @include flexVertical;
      // padding: 0px 10px;
      .search {
        @include flexVertical;
        .searchInput {
          @include font(var(--grey4), var(--font-16), var(--font-medium));
          background: var(--white1);
          border: 1px solid var(--grey6);
          border-radius: 6px;
          height: 42px;
          width: 200px;
          padding: 0px 12px 0px 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        .searchButton {
          background: var(--green1);
          padding: 10px 12px;
          cursor: pointer;
          border-radius: 20%;
          margin: 0px 10px;
        }
        .smartSearchInput {
          width: 200px;
        }
      }
    }
    .mainContainer {
      margin-top: 30px;
      display: flex;
      align-items: center;

      .tabContent {
        height: 34px;
        width: max-content;
        @include flexCenter;
        @include font(var(--white1), var(--font-13), var(--font-semibold));
        // -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 95%, 75% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 62% 0);
        border-radius: 12px 50px 0 0px;
        padding: 0px 50px 0px 20px;
        cursor: pointer;
      }

      .greenTab {
        background: var(--green1);
      }

      .yellowTab {
        background: var(--yellow1);
        margin: 0 20px 0 12px;
      }

      .redTab {
        background: var(--red3);
        margin: 0 20px 0 12px;
      }
      .greenDisableTab {
        @include font(var(--green1), var(--font-13), var(--font-normal));
        margin: 10px 10px 0 10px;
        cursor: pointer;
      }
      .orangeDisableTab {
        @include font(var(--yellow1), var(--font-13), var(--font-normal));
        margin: 10px 10px 0 10px;
        cursor: pointer;
      }
      .redDisableTab {
        @include font(var(--red3), var(--font-13), var(--font-normal));
        margin: 10px 10px 0 10px;
        cursor: pointer;
      }
    }
    .tableContainer {
      width: 100%;
      white-space: nowrap;
      // margin: 40px 0px 0px 0px;
      tr {
        th {
          min-width: 120px;
        }
      }
      .branchStoreQtyField {
        padding: 0px 10px;
        width: 61px;
        height: 29px;
        background: #ffffff;
        border: 1px solid #cdd4d8;
        border-radius: 6px;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}
