.popupContainer {
  width: 940px;
  margin: auto;
  background: var(--white1);
  border-radius: 10px;
  padding: 10px;

  .closeIconStyle {
    cursor: pointer;
    float: right;
  }

  .notesContainer {
    margin-top: 50px;

    .title {
      text-align: center;
      font-weight: var(--font-semibold);
      font-size: var(--font-24);
      line-height: 36px;
      color: var(--black2);
    }

    .dividerStyle {
      margin: 10px auto 30px auto;
      width: 80px;
      height: 3px;
      background: var(--green1);
    }

    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 380px;
      overflow-y: auto;

      .labelField {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-bottom: 30px;

        .labelText {
          margin-right: 8px;
          font-weight: var(--font-semibold);
          font-size: --font-16;
          color: var(--black2);
          width: 180px;
          margin-top: 8px;
        }

        .fieldErrorContainer {
          position: relative;

          .inputField,
          .remarksField,
          .disableField {
            background: var(--white1);
            width: 245px;
            border: 1px solid #cdd4d8;
            border-radius: 6px;
            padding: 10px 15px;
            padding-right: 40px;
          }

          .disableField {
            background: var(--grey3);
          }

          .remarksField {
            width: 694px;
            height: 150px;
          }

          .select,
          .attachmnentField {
            width: 245px;
          }

          .iconStyle {
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
          }
        }
      }

      .btnStyle {
        margin: 20px auto 40px auto;
      }

      &::-webkit-scrollbar {
        display: block;
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--grey7);
        border-radius: 10px;
        border: 1px solid var(--grey7);
      }
    }
  }
}

.fileNameStyle {
  word-break: break-all;
}