@import "../../../../../styles/mixin.scss";
.addResultsPopupContainer {
  width: 75%;
  height: 500px;
  padding: 30px 36px 80px;
  background: var(--white1);
  border-radius: 10px;
  position: relative;
  .closeIconStyle {
    cursor: pointer;
    position: absolute;
    right: 3%;
  }
  .resultsTitle {
    @include font(var(--black2), var(--font-16), var(--font-semibold));
    line-height: 36px;
    text-align: start;
    .resultsId {
      @include font(var(--grey4), var(--font-16), var(--font-normal));
      padding-bottom: 20px;
      margin-left: 10px;
    }
  }

  .tableContainer {
    height: 380px;
    width: 100%;
    margin-top: 20px;
    white-space: nowrap;
    overflow-x: auto;
    padding-top: 16px;
    td {
      padding: 12px 12px 12px 0;
    }
  }
}

.selectField {
  border: 1px solid var(--grey6);
  border-radius: 6px;
  padding: 8px;
  width: 80px;
  display: block;
  margin: 6px auto;
  height: 36px
}

.view_Btn {
  @include font(var(--blue1), var(--font-12), var(--font-medium));
  text-decoration: underline;
  cursor: pointer;
  margin-block: 6px;
}

.bgRed {
  color: #b11313;
  background: #ffdfdf;
}

.bgGreen {
  background: #cafff2;
  color: #02bf90;
}
