.receptionistContainer {
  margin-right: 20px;
  .todayAppointmentHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .title {
      font-weight: var(--font-semibold);
      font-size: var(--font-18);
      color: var(--black2);
    }
    .branchFilterContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .filterContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        .filterText {
          font-weight: var(--font-semibold);
          font-size: var(--font-16);
          color: var(--black2);
          margin-right: 15px;
        }
        .selectInputField {
          background: #ffffff;
          width: 200px;
          border-radius: 6px;
        }
        .selectContainer {
          border: 1px solid #cdd4d8;
          border-radius: 6px;
          background-color: var(--white1);
          padding: 10px;
          width: 200px;
        }
      }
    }
  }
  .tableContainer {
    box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white1);
    margin-bottom: 30px;
  }

  .chat {
    max-width: 1000px;
    min-width: 100%;
    .chatText {
      font-weight: var(--font-semibold);
      font-size: var(--font-18);
      color: var(--black2);
    }
  }
  .staffInfoContainer {
    display: flex;
    flex-direction: row;
    margin: 50px 0px 30px 0px;
    .todoContainer {
      display: flex;
      flex-direction: column;
      .todoHeaderContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .todoTitle {
          font-weight: var(--font-semibold);
          font-size: var(--font-20);
          padding: 10px 0px 20px 0px;
        }
        .addNewStyle {
          font-weight: var(--font-normal);
          font-size: var(--font-16);
          color: var(--green1);
          padding: 10px 0px 20px 10px;
          cursor: pointer;
        }
      }
      .mainContainerTodo {
        position: relative;
        // z-index: 2;
        width: 366px;
        height: 396px;
        margin: 0px 0px 30px 0px;
        background: #ffffff;
        box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
        border-radius: 20px;
        .container {
          width: 356px;
          max-height: 380px;
          background-color: #ffffff;
          overflow-y: auto;
          overflow-x: hidden;
          scroll-behavior: smooth;
          margin: 10px auto;
          border-radius: 20px;
          &::-webkit-scrollbar {
            width: 4px;
            border-radius: 40px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 40px;
            -webkit-box-shadow: inset 0 0 100px var(--grey10);
          }
          .noRecordTextStyle {
            text-align: center;
            margin: 50px auto;
            font-size: var(--font-20);
            font-weight: var(--font-semibold);
          }
          .notifyContainer {
            .isReadStyle {
              margin: 5px;
              padding: 5px;
              border-radius: 5px;

              .titleStatusContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .titleStatusStyleContainer {
                  display: flex;
                  flex-direction: row;

                  .iconStyle {
                    margin: 7px 5px 5px 0px;
                  }
                  .titleStyle {
                    padding: 5px 0px 5px 5px;
                    font-weight: var(--font-semibold);
                    font-size: var(--font-16);
                    text-decoration: line-through;
                    overflow-wrap: anywhere;
                  }
                }
                .alarmPriorityContainer {
                  display: flex;
                  flex-direction: row;
                  width: 18%;
                  .priorityListStyleContainer {
                    .mediumPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 5px;
                      margin-top: 4px;
                      background-color: var(--yellow2);
                      color: var(--yellow1);
                      font-weight: 500;
                      font-size: 12px;
                    }
                    .highPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 5px;
                      margin-top: 4px;
                      background-color: var(--red4);
                      color: var(--red3);
                      font-weight: 500;
                      font-size: 12px;
                    }
                    .lowPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 5px;
                      margin-top: 4px;
                      background-color: var(--green4);
                      color: var(--green1);
                      font-weight: 500;
                      font-size: 12px;
                    }
                  }
                  .alarmIcon {
                    display: flex;
                    margin: 3px 0px 0px 10px;
                  }
                }
              }
              .textStyle {
                font-style: normal;
                font-weight: var(--font-normal);
                font-size: var(--font-12);
                color: var(--grey4);
                padding-left: 5px;
                text-decoration: line-through;
                padding: 0px 8px 10px 31px;
                overflow-wrap: anywhere;
              }
            }
            .unReadStyle {
              margin: 5px;
              padding: 5px;
              border-radius: 5px;
              .titleStatusContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .titleStatusStyleContainer {
                  display: flex;
                  flex-direction: row;
                  .iconStyle {
                    margin: 7px 5px 5px 0px;
                  }
                  .titleStyle {
                    padding: 5px 0px 5px 5px;
                    font-weight: var(--font-semibold);
                    font-size: var(--font-16);
                    overflow-wrap: anywhere;
                  }
                }
                .alarmPriorityContainer {
                  display: flex;
                  flex-direction: row;
                  width: 27%;
                  .priorityListStyleContainer {
                    .mediumPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 5px;
                      margin-top: 4px;
                      background-color: var(--yellow2);
                      color: var(--yellow1);
                      font-weight: 500;
                      font-size: 12px;
                    }
                    .highPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 3px;
                      margin-top: 4px;
                      background-color: var(--red4);
                      color: var(--red3);
                      font-weight: 500;
                      font-size: 12px;
                    }
                    .lowPriorityStyle {
                      width: 60px;
                      text-align: center;
                      border-radius: 4px;
                      // padding: 5px;
                      padding: 1px 3px;
                      margin-top: 4px;
                      background-color: var(--green4);
                      color: var(--green1);
                      font-weight: 500;
                      font-size: 12px;
                    }
                  }
                  .alarmIcon {
                    display: flex;
                    margin: 3px 0px 0px 10px;
                  }
                }
              }
              .textStyle {
                font-style: normal;
                font-weight: var(--font-normal);
                font-size: var(--font-12);
                color: var(--grey4);
                padding: 0px 8px 10px 31px;
                overflow-wrap: anywhere;
              }
              .buttonContainer {
                display: flex;
                flex-direction: row;
                margin-left: 25px;
                .editButtonStyle {
                  width: 58px;
                  height: 30px;
                  background: var(--grey4);
                  border-radius: 6px;
                  font-size: 12px;
                }
                .deleteButtonStyle {
                  width: 58px;
                  height: 30px;
                  background: var(--red3);
                  border-radius: 6px;
                  font-size: 12px;
                }
              }
            }

            .divider {
              width: 95%;
              height: 1px;
              margin: 3px 0px 3px 12px;
              background: var(--grey5);
            }
          }
        }
      }
    }
    .medicalCenterContainer {
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      .medicalCenterHeaderContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .medicalCenterTitle {
          font-weight: 600;
          font-size: var(--font-20);
          padding: 10px 0px 20px 0px;
        }
        .addTodoIconStyle {
          margin: 15px;
        }
      }
      .medicalCenterMainContainer {
        // width: 366px;
        // height: 386px;
        // margin: 0px 0px 30px 0px;
        // background: var(--white1);
        // box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
        // border-radius: 20px;
        width: 366px;
        height: 396px;
        margin: 0px 0px 30px 0px;
        background: #ffffff;
        box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
        border-radius: 20px;
        .container {
          // max-height: 386px;
          // overflow-y: auto;
          // overflow-x: hidden;
          // scroll-behavior: smooth;
          width: 356px;
          max-height: 380px;
          background-color: #ffffff;
          overflow-y: auto;
          overflow-x: hidden;
          scroll-behavior: smooth;
          margin: 10px auto;
          border-radius: 20px;
          &::-webkit-scrollbar {
            width: 4px;
            border-radius: 40px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 40px;
            -webkit-box-shadow: inset 0 0 100px var(--grey10);
          }
          .noRecordTextStyle {
            text-align: center;
            margin: 50px auto;
            font-size: var(--font-20);
            font-weight: var(--font-semibold);
          }
          .mcUpdatecontainer {
            display: flex;
            flex-direction: row;
            padding: 10px;

            .datecontainer {
              width: 20%;
              height: 65px;
              background: var(--green1);
              border-radius: 10px;
              padding: 0px 10px 0px 10px;
              margin: 0px;
              .dateStyleText {
                font-weight: var(--font-semibold);
                font-size: var(--font-30);
                text-align: center;
                color: var(--white1);
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: 35px;
              }
              .monthStyleText {
                font-weight: var(--font-semibold);
                font-size: var(--font-17);
                text-align: center;
                color: var(--white1);
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: 20px;
              }
            }
            .updatenewscontainer {
              display: flex;
              flex-direction: column;
              // background-color: yellow;
              width: 100%;
              .title {
                font-weight: var(--font-semibold);
                font-size: var(--font-16);
                padding: 0px 13px 5px 13px;
              }
              .description {
                font-weight: var(--font-normal);
                font-size: var(--font-12);
                color: var(--grey4);
                padding: 0px 13px 5px 13px;
              }
              .linkStyle {
                font-weight: var(--font-normal);
                font-size: var(--font-14);
                color: var(--blue1);
                padding: 0px 13px 5px 7px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .doctorMainContainer {
    // width: 1100px;
    max-width: 1000px;
    min-width: 100%;
    height: 245px;
    margin: 0px 10px 30px 0px;
    .doctortitle {
      font-weight: var(--font-semibold);
      font-size: var(--font-20);
      padding: 0px 0px 20px 0px;
    }
    .doctorContainer {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      height: 150px;
      background: var(--white1);
      box-shadow: 0px 2px 6px rgba(13, 10, 44, 0.08);
      border-radius: 20px;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-behavior: smooth;
      margin: 10px auto;
      border-radius: 10px;
      &::-webkit-scrollbar {
        width: 2px;
        height: 4px;
        border-radius: 40px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 40px;
        -webkit-box-shadow: inset 0 0 100px var(--grey10);
      }
      .noRecordTextStyle {
        text-align: center;
        margin: 60px auto;
        font-size: var(--font-20);
        font-weight: var(--font-semibold);
      }
      .container {
        width: 340px;
        height: 110px;
        border: 1px solid var(--grey12);
        border-radius: 10px;
        margin: 15px 10px 15px 10px;
        display: flex;
        flex-direction: row;
        position: relative;

        .activeDocContainer {
          border-radius: 30px;
          position: absolute;
          left: 90px;
          top: 10px;
        }
        .imageContainer {
          width: 84px;
          height: 84px;
          border: 1px solid var(--grey12);
          border-radius: 10px;
          margin: auto 20px auto 20px;
        }
        .doctorDetailsContainer {
          display: flex;
          width: 230px;
          height: 80px;
          flex-direction: column;
          margin: auto 10px auto 0px;
          .ratingStyle {
            display: flex;
            flex-direction: row;
            .ratingTextStyle {
              font-weight: var(--font-semibold);
              font-size: var(--font-12);
              padding: 3px 0px 0px 7px;
              color: var(--grey4);
            }
          }
          .doctorNameStyle {
            font-weight: var(--font-semibold);
            font-size: var(--font-16);
            padding-top: 5px;
          }
          .loginTimeStyle {
            font-weight: var(--font-semibold);
            font-size: var(--font-12);
            color: var(--black2);
            padding-top: 5px;
            .loginTextStyle {
              font-weight: var(--font-semibold);
              font-size: var(--font-12);
              color: var(--grey4);
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}
