.inputContainer {
    width: 75px;
    height: 29px;
    border-radius: 6px;
    border: 1px solid #CDD4D8;
    // padding-left: 12px;  
    text-align: center;
}

.billableContainer {
    margin-right: 15px;
}