
.amountMargin{
    margin-right: 10px !important;
   }

.tabledataflex{
    display: flex;
    width: 100%;
    
  .tablecontent{
    width: 60%;
    text-align: end;
    padding-right: 7px;
   }
   .crossiconend{
    width: 40%;
    text-align: end;
   }

 
  }
