.amountMargin {
    margin-right: 10px !important;
  }
  
  .tabledataflex {
    display: flex;
    column-gap: 40px;
    justify-content: end;
  }
  
  .tabledataflex div p {
    margin-right: 50px;
  }
  